@import "tailwindcss";

:root {
    --background: #4CAF50;
    --foreground: #171717;
}

@theme inline {
    --font-inter: var(--font-inter);
    --font-inria-sans: var(--font-inria-sans);
    --font-poppins: var(--font-poppins);
    --font-roboto: var(--font-roboto);
    --font-roboto-mono: var(--font-roboto-mono);

    --color-green-primary: #064E3B;
    /* background */
    --color-green-secondary: #065F46;
    /* cards */
    --color-green-tertiary: #047857;
    /* card hover */
    --color-green-quarternary: #134E4A;
    /* slightly darker than secondary | for card border and navbar */
    --color-green-quinary: #1a5e59;
    /* slightly lighter than quarternary */

    --color-yellow-primary: #FACC15;
    --color-yellow-secondary: #EAB308;

    --color-text-primary: #ECFDF5;
    --color-text-secondary: #A7F3D0;
}

::selection {
    background-color: #047857;
    color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-inter);
}

*:focus-visible {
    outline: transparent !important;
}

button {
    cursor: pointer;
}

/* *::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgb(2, 53, 40);
} */