@import "tailwindcss";

:root {
    --background: #4CAF50;
    --foreground: #171717;
}

@theme inline {
    --font-inter: var(--font-inter);
    --font-inria-sans: var(--font-inria-sans);
    --font-poppins: var(--font-poppins);

    --color-yellow-primary: #FACC15;
    --color-yellow-secondary: #EAB308;

    --color-green-primary: #064E3B;
    --color-green-secondary: #065F46;
    --color-green-tertiary: #047857;

    --color-text-primary: #ECFDF5;
    --color-text-secondary: #A7F3D0;

    --color-subtleborder: #134E4A;
}

::selection {
    background-color: rgb(58, 58, 58);
    color: #ffffff;
}


@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

*:focus-visible {
    outline: transparent !important;
}